body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-image: url("img/Зеленый_фон2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 


.obj {
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #000000a8;
  opacity: 1;
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows:repeat(2, 1fr);
}

.obj > div{
  display: grid;
  grid-template-columns:repeat(1, 1fr);
  grid-template-rows:repeat(2, 1fr);
  grid-template-rows: auto;
  margin-left: 4%;
  margin-right: 4%;
}

.obj > div.box1{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(1, 1fr);
  grid-template-columns:30% 70%;
  grid-template-rows: 200px;
  margin-left: 4%;
  margin-right: 4%;
}

.obj > div.box2{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(1, 1fr);
  grid-template-columns:30% 70%;
  grid-template-rows: 200px;
  margin-left: 4%;
  margin-right: 4%;
}

.box1 {
  margin-top: 4%;
  margin-bottom: 2%;
}

.box2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.box3 {
  margin-top: 2%;
  margin-bottom: 4%;
}

.Photo {
  display: grid;
  background-color: #cf58e7;
  padding: 50px;
}

.content {
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-rows:repeat(1, 1fr);
  grid-template-columns:15% 85%;
  margin: 2%;
}

.Icons {
  display: grid;
  padding: 10px;
}

.Icons > div {
  display: grid;
  height: 30px;
  width: 30px;
  background-size:cover;
}

.Icons > div.IconVK {
  display: grid;
  background-image: url("files/logo_vk.svg");
}

.Icons > div.IconG {
  display: grid;
  background-image: url("files/logo_gmail.svg");
}

.Icons > div.IconW {
  display: grid;
  background-image: url("files/logo_whatsapp.svg");
}

.Txt {
  display: grid;
  background-color: #58e7e7;
  padding: 10px;
}

.TxtG {
  display: grid;
  margin-left: 4%;
  margin-right: 4%;
  margin: 2%;
  text-align: center;
}

.b {
  text-decoration:none;
  font-family: "Helvetica", serif;
  background-size: cover;
  color: #d30d0d;
  font-size: 50px;
  line-height: 24px; 
}

  
.b:hover {
  text-decoration:underline;
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-column-gap: 1em;
 }

.wrapper > div{
  padding: 1em;
}

.wrapper > div.resume {
  margin: 5%;
  margin-left: 20%;
  margin-right: 25%;
  height: 550px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 45px;
  line-height: 55px;
  color: #ffffff;
  grid-template-columns: 100%;
  padding-left: 60px;
  padding-right: 100px;
}

.wrapper > div.div_about {
  display: grid;
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(146, 146, 146, 0.664);
  height: 600px;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 55px;
  color: #1b1b1bdc;
  grid-template-columns: 100%;
  padding-top: 30px;
}
.included_one {
  text-align:justify;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-auto-rows: 100px;
}
.included_two {
  text-align:justify;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: 100px;
}

.column_foto > div {
  margin: 4%;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.foto1_about {
  display: grid;
  margin-left: 5%;
  height: 230px;
  width: 250px;
  background-repeat: no-repeat;
  background-image: url("img/Портрет_Света.svg");
  background-position: center;
  background-size: 250px 250px;

}

.foto2_about{
  display: grid;
  margin-left: 5%;
  background-image: url("img/Портрет_Женя.svg");
  background-size: 250px 250px;
  height: 230px;
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
}
.about {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-image: url("img/Вечер_стол.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.experience{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background: #000000;
  background-image: url("img/Офис3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-image: url("img/Комп_стол.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.skills{
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  background-image: url("img/Офис.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  width: 255px;
  margin: 0 auto 8px;
  font-family: "Helvetica", serif;
  text-align: center;
  font-weight: normal;
  width: 100%;
  font-size: 56px;
  line-height: 64px;
}
.h1-border-light{
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
  text-align: center;
  font-family: "Helvetica", serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  width: 100%;
  margin: 0 auto 8px;
}
h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
  text-align: center;
  font-family: "Helvetica", serif;
}


.container {
  width: 800px;
  margin: 0  auto;
  padding: 0 20px;
}

.site-header {
  display: grid;
  min-width: 50px;
  height: 120px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: "Helvetica", serif;
  color: #000000;
}

.site-header p {
  display: grid;
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 25px;
  line-height: 24px; 
}

a {
  color:#f7f6c5;
  text-decoration:none;
  font-family: "Helvetica", serif;
  background-size: cover;
  color: #000000;
  font-size: 30px;
  line-height: 24px; 
}
  
 a:hover {
  text-decoration:underline;
  display: inline-block;
}

.header-features {
  grid-template-columns: 20% 50%;
  grid-gap: 1em;
  /* grid-auto-rows: 150px; */
  grid-auto-rows: minmax(100px, auto);
  display: grid;
  padding: 1em;
  position: fixed;
  height: 120px;
  width: 100%;
  margin: 0 ;
  padding: 0 10px;
  background: #ffffffe3;
  background-size: cover;
}
.header-features p {
  display: grid;
  display: inline-block;
  vertical-align: top;
  width: 8%;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}
.included-header {
  display: grid;
  grid-template-columns:repeat(4, 200px);
  grid-gap: 1em;
  grid-auto-rows: 80px;
}

.header-item{
  display: grid;
  padding-top: 50px;
  font-weight:bold;
  margin-bottom: 10px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: "Helvetica", serif;
  color: #000000;
}
.header-item-resume{
  display: grid;
  padding-top: 50px;
  font-weight:bold;
  margin-bottom: 50px;
  height: 50px;
  padding-left: 30px;
  padding-right: 150px;
  text-align: center;
  font-family: "Helvetica", serif;
  color: #000000;
}


.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  width: 510px;
  margin: 0 auto 30px;
  padding: 0 20px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

.feature-education {
  padding-top: 65px;
  background-image: url("img/education.svg");
}

.feature-people {
  padding-top: 65px;
  background-image: url("img/people.svg");
}

.feature-growth {
  padding-top: 65px;
  background-image: url("img/growth.svg");
}
.advantages {
  width: 550px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.advantages-list {

  padding: 0;
  list-style: none;  
}
.text_center {
  font-size: 16px;
  text-align: center;
}

.advantages-item {
  margin-bottom: 15px;
  padding-left: 20px;
  text-align: center;
  border-left: 20px solid #e2e2e2;
  color: #000000;
}

.standard {
  border-color: #847462;
  color: #6a6a6a;
}

.vip {
  border-color: #ffb864;
  color: #000000;
}

.site-footer {
  padding-top: 25px;
  min-width: 700px;
  height: 50px;
  background-color: #ffffffe3;
  color: #000000;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}



